{% load static %}
<link rel="stylesheet" href="{% static 'webistes/footer.css' %}">
<footer>
    <div class="container">
        <div class="row">
            <div class="col-md-2">
                <img src="{% static 'images/snit_logo.jpeg' %}" alt="Company Logo" class="company-logo">
            </div>
            <div class="col-md-10 text-right">
                <p>
                    <strong>Contact Info:</strong> <a href="mailto:snitsolutions2024@gmail.com">snitsolutions2024@gmail.com</a>
                </p>
                <p>
                    <strong>Address:</strong> 501, Kailashnath Arcade, plot-1-65/A/1/62, opp. HDFC Bank Lane, Kakatiya Hills, Guttala_Begumpet, Kavuri Hills, Madhapur, Hyderabad, Telangana 500081
                </p>
            </div>
        </div>
    </div>
</footer>